<!DOCTYPE html>
<html dir="ltr" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/coderic/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/coderic/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/coderic/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/coderic/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/coderic/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/coderic/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/coderic/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/coderic/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/coderic/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/coderic/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/coderic/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/coderic/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/coderic/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Coderic</title>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Corporation",
          "name": "Coderic",
          "alternateName": "Coderic, S.A.",
          "url": "https://coderic.net/",
          "logo": "https://coderic.net/assets/coworker/images/isologo.png",
          "contactPoint": [
            {
              "@type": "ContactPoint",
              "contactType": "technical support",
              "telephone": "+57 (4)329-5486",
              "email": "admin@coderic.net",
              "areaServed": [
                "VE",
                "CO",
                "EC",
                "MX",
                "PE"
              ],
              "availableLanguage": [
                "es",
                "en"
              ]
            },
            {
              "@type": "ContactPoint",
              "contactType": "billing support",
              "telephone": "+57 (4)329-5486",
              "email": "admin@coderic.net",
              "areaServed": [
                "VE",
                "CO",
                "EC",
                "MX",
                "PE"
              ],
              "availableLanguage": [
                "es",
                "en"
              ]
            },
            {
              "@type": "ContactPoint",
              "contactType": "bill payment",
              "telephone": "+57 (4)329-5486",
              "email": "admin@coderic.net",
              "areaServed": [
                "VE",
                "CO",
                "EC",
                "MX",
                "PE"
              ],
              "availableLanguage": [
                "es",
                "en"
              ]
            },
            {
              "@type": "ContactPoint",
              "contactType": "sales",
              "telephone": "+57 (4)329-5486",
              "email": "admin@coderic.net",
              "areaServed": [
                "VE",
                "CO",
                "EC",
                "MX",
                "PE"
              ]
            }
          ],
          "sameAs": [
            "https://www.facebook.com/Coderic.net",
            "https://twitter.com/Coderic",
            "https://www.instagram.com/coderic.sa",
            "https://www.youtube.com/c/CodericCoVe",
            "https://linkedin.com/company/coderic/",
            "https://github.com/Coderic",
            "https://coderic.net"
          ]
        }
        </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-628256-14"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-628256-14');
    </script>

    <meta name="csrf-token" content="p7zMa8ZzLH56K3uYl7MOp2zdrFdd55epibCwAaRw">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Coderic">
    <meta name="title" content="Coderic">
    <meta name="description"
        content="Corporación Orientada al Desarrollo Estratégico de Recursos de Información Comercial">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <!--link rel="canonical" href="https://coderic.net/Nosotros"-->
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Open+Sans:400,300,600,700"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/coworker/style.css">
    <link rel="stylesheet" media="only screen and (-webkit-min-device-pixel-ratio: 2)"
        href="/assets/coworker/css/retina.css">
    <link rel="stylesheet" href="/assets/coworker/css/tipsy.css">
    <link rel="stylesheet" href="/assets/coworker/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/coworker/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/coworker/css/animate.css">
    <link rel="stylesheet" href="/assets/coworker/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/coworker/css/ls/css/layerslider.css">
    <link rel="stylesheet" href="/assets/coworker/css/responsive.css">
    <!--[if lt IE 9]>
            <script src="/assets/coderic/js/css3-mediaqueries.js"></script>
        <![endif]-->
    <script>
        window.onsip = window.onsip || {};
        window.onsip.do = window.onsip.do || function () { (onsip.q = onsip.q || []).push(arguments) };
        onsip.do('preload', '151834');
    </script>
    <script defer src="https://js.onsip.com/onsip.js"></script>

    <script src="/assets/coworker/js/jquery.js"></script>
    <script src="/assets/coworker/js/greensock.js"></script>
    <script src="/assets/coworker/js/plugins.js"></script>
    <script src="/assets/coworker/js/layerslider.transitions.js"></script>
    <script src="/assets/coworker/js/jquery.layerslider.js"></script>

    <style>
        body {
            background-image: url("/assets/coworker/images/patterns/light/pattern7.png");
        }

        .content-wrap {
            position: relative;
            padding: 40px 0 0 0;
        }

        .layer-features p {
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif;
            padding: 0px 10px;
            height: 30px;
            line-height: 30px;
            box-shadow: 0px 4px 10px -5px black;
            color: white;
            font-size: 20px;
            background: #8bae4e;
            background: -moz-linear-gradient(left, #8bae4e 0%, #b1c758 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, #8bae4e), color-stop(100%, #b1c758));
            background: -webkit-linear-gradient(left, #8bae4e 0%, #b1c758 100%);
            background: -o-linear-gradient(left, #8bae4e 0%, #b1c758 100%);
            background: -ms-linear-gradient(left, #8bae4e 0%, #b1c758 100%);
            background: linear-gradient(to right, #8bae4e 0%, #b1c758 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8bae4e', endColorstr='#b1c758', GradientType=1);
        }

        .l1-s4 {
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif;
            padding: 0px 10px;
            height: 40px;
            line-height: 40px;
            box-shadow: 0px 4px 10px -5px black;
            color: white;
            text-shadow: none;
            font-size: 28px;
            color: #4f6716;
            background: white;
        }

        #wrapper {
            margin: 0px auto;
        }

        .well.callout h2 {
            padding-bottom: 0;
        }

        .our-clients .team-image span {
            bottom: 10px;
            text-transform: capitalize;
        }

        .our-clients li {
            margin: 0 12px 12px 0;
        }

        .our-clients li,
        .our-clients li a,
        .our-clients li img {
            width: 140px !important;
            height: 140px;
        }
    </style>
</head>

<body>
    <div id="wrapper" class="clearfix">
        <div id="sticky-menu" class="clearfix">
            <div class="container clearfix">
                <div class="sticky-logo">
                    <a href="https://coderic.net/"><img src="/assets/coworker/images/logo.png" alt="Coderic"
                            title="Coderic" /></a>
                </div>
                <!--div class="sticky-search-trigger">
                    <a href="#"><i class="fa fa-search"></i></a>
                </div-->
                <div class="sticky-menu-wrap">
                    <!--ul>
                        <li class="current"><a href="https://coderic.net/Internet">
                                <div>Internet</div><span>Comienza aquí</span>
                            </a>
                        </li>
                        <li><a href="https://coderic.net/Servidores">
                                <div>Servidores</div><span>Dedicados y Virtuales</span>
                            </a>
                        </li>
                        <li><a href="https://coderic.net/Macrodatos">
                                <div>Macrodatos</div><span>Escala masiva</span>
                            </a>
                        </li>
                        <li><a href="https://coderic.net/Sistemas">
                                <div>Sistemas</div><span>Nube SaaS</span>
                            </a>
                        </li>
                        <li><a href="https://coderic.net/Plataformas">
                                <div>Plataformas</div><span>Nube PaaS</span>
                            </a>
                        </li>
                        <li><a href="https://coderic.net/Infraestructuras">
                                <div>Infraestructuras</div><span>Nube IaaS</span>
                            </a>
                        </li>
                    </ul-->
                    <ul>
                        <li><a href="#">
                                <div>Inicio</div>
                            </a>
                            <ul>
                                <li><a href="https://coderic.net/nosotros">
                                        <div>Acerca de Coderic</div>
                                    </a></li>
                                <li><a href="https://coderic.net/marcolegal">
                                        <div>Marco legal</div>
                                    </a></li>
                                <li><a href="https://coderic.net/terminos">
                                        <div>Términos de uso</div>
                                    </a></li>
                                <li><a href="https://coderic.net/privacidad">
                                        <div>Política de privacidad</div>
                                    </a></li>
                                <li><a href="https://coderic.net/contacto">
                                        <div>Contáctenos</div>
                                    </a></li>
                            </ul>
                        </li>
                        <li><a href="#">
                                <div>Ecosistema</div>
                            </a>
                            <ul>
                                <li><a href="https://coderic.net/Desarrollo">
                                        <div>Desarrollo</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Financiamiento">
                                        <div>Financiamiento</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Colaborativo">
                                        <div>Colaborativo</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Independientes">
                                        <div>Independientes</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Aprendizaje">
                                        <div>Aprendizaje</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Comunidad">
                                        <div>Comunidad</div>
                                    </a></li>
                            </ul>
                        </li>
                        <li><a href="#">
                                <div>Competición</div>
                            </a>
                            <ul>
                                <li><a href="https://coderic.net/Productos">
                                        <div>Productos</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Servicios">
                                        <div>Servicios</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Inmuebles">
                                        <div>Inmuebles</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Alquileres">
                                        <div>Alquileres</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Empleos">
                                        <div>Empleos</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Talentos">
                                        <div>Talentos</div>
                                    </a></li>
                            </ul>
                        </li>
                        <li><a href="#">
                                <div>Nube</div>
                            </a>
                            <ul>
                                <li><a href="https://coderic.net/Internet">
                                        <div>Internet</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Servidores">
                                        <div>Servidores</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Macrodatos">
                                        <div>Macrodatos</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Sistemas">
                                        <div>Sistemas</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Plataformas">
                                        <div>Plataformas</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Infraestructuras">
                                        <div>Infraestructuras</div>
                                    </a></li>
                            </ul>
                        </li>
                        <li><a href="#">
                                <div>Soporte</div>
                            </a>
                            <ul>
                                <li><a href="https://coderic.net/Soporte/documentacion">
                                        <div>Documentación</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Soporte/conocimientos">
                                        <div>Conocimientos</div>
                                    </a></li>
                                <li><a href="https://coderic.net/preguntas">
                                        <div>Preguntas frecuentes</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Soporte/foros">
                                        <div>Foros de soporte</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Soporte/ayuda">
                                        <div>Mesa de ayuda</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Soporte/chat">
                                        <div>Chat en vivo</div>
                                    </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="sticky-search-area">
                    <form id="sticky-search" action="search-results.php" method="get">
                        <input type="text" id="sticky-search-input" name="q" placeholder="Escriba y presione enter"
                            value="" />
                    </form>
                    <div class="sticky-search-area-close">
                        <a href="#"><i class="fa fa-remove"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="top-bar">
            <div class="container clearfix">
                <div id="top-menu" style="width:100%">
                    <div>
                        <ul>
                            <li class="btn-group language-swicher">
                                <a class=" dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-globe"></i>
                                    Español</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/en/" hreflang="en" rel="alternate" title="Inglés">English</a></li>
                                    <!--
                                                                        <li><a href="/fr/" hreflang="fr" rel="alternate" title="Francés">France</a></li>
                                                                                                            <li><a href="/it/" hreflang="it" rel="alternate" title="Italiano">Italiano</a></li>
                                                                                                            <li><a href="/pt/" hreflang="pt" rel="alternate" title="Portugués">Português</a></li>
                                        -->
                                </ul>
                            </li>
                            <li><span>/</span><a href="https://coderic.net/nosotros"><i class="fa fa-info-circle"></i>
                                    Acerca de Coderic</a></li>
                            <li><span>/</span><a href="https://coderic.net/contacto"><i class="fa fa-envelope"></i>
                                    Contáctenos</a></li>

                            <!--li class="top-menu-em"><a href="https://coderic.net/Register"><i class="fa fa-user"></i>
                                    Únete</a></li>
                            <li class="top-menu-em"><a href="https://coderic.net/Login"><i class="fa fa-sign-in"></i>
                                    Acceder</a></li-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="header" class="header2 header6">
            <div class="container clearfix">
                <div id="logo">
                    <a href="/" class="standard-logo"><img src="/assets/coworker/images/logo.png" alt="Coderic"
                            title="Coderic"></a>
                    <a href="/" class="retina-logo"><img src="/assets/coworker/images/logo@2x.png" alt="Coderic"
                            title="Coderic" width="204" height="120"></a>
                </div>

                <ul id="lp-contacts">
                    <li>
                        <i class="fa fa-phone"></i>
                        Llámenos
                        <span><a href="tel:+5743295486">+57 (4) 329-54 86</a></span>
                    </li>
                    <li>
                        <i class="fa fa-envelope-o"></i>
                        Escríbanos
                        <span><a href="mailto:admin@coderic.net">admin@coderic.net</a></span>
                    </li>
                </ul>
            </div>
            <div id="primary-menu">
                <div class="container clearfix">
                    <div class="rs-menu"><i class="fa fa-align-justify"></i></div>
                    <ul id="main-menu">
                        <li class="current"><a href="/">
                                <div>Inicio</div><span>&nbsp;</span>
                            </a>
                            <ul>
                                <li><a href="https://coderic.net/Nosotros">
                                        <div>Acerca de Coderic</div>
                                    </a></li>
                                <li><a href="#">
                                        <div>Organigrama</div>
                                    </a>
                                    <ul>
                                        <li><a href="#">
                                                <div>Mesa Directiva</div>
                                            </a></li>
                                        <li><a href="#">
                                                <div>División de Proyectos</div>
                                            </a></li>
                                        <li><a href="#">
                                                <div>División de Finanzas</div>
                                            </a></li>
                                        <li><a href="#">
                                                <div>Cuadro Honorífico</div>
                                            </a></li>
                                    </ul>
                                </li>
                                <li><a href="#">
                                        <div>Convenios</div>
                                    </a>
                                    <ul>
                                        <li><a href="https://coderic.net/marcolegal">
                                                <div>Marco legal</div>
                                            </a></li>
                                        <li><a href="https://coderic.net/terminos">
                                                <div>Términos de uso</div>
                                            </a></li>
                                        <li><a href="https://coderic.net/privacidad">
                                                <div>Política de privacidad</div>
                                            </a></li>
                                    </ul>
                                </li>
                                <li><a href="https://coderic.net/contacto">
                                        <div>Contáctenos</div>
                                    </a></li>
                            </ul>
                        </li>
                        <li><a href="#">
                                <div> Ecosistema</div><span>&nbsp;</span>
                            </a>
                            <ul>
                                <li><a href="https://coderic.net/Desarrollo">
                                        <div>Desarrollo</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Financiamiento">
                                        <div>Financiamiento</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Colaborativo">
                                        <div>Colaborativo</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Independientes">
                                        <div>Independientes</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Aprendizaje">
                                        <div>Aprendizaje</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Comunidad">
                                        <div>Comunidad</div>
                                    </a></li>
                            </ul>
                        </li>
                        <li><a href="#">
                                <div>Competición</div><span>&nbsp;</span>
                            </a>
                            <ul>
                                <li><a href="https://coderic.net/Productos">
                                        <div>Productos</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Servicios">
                                        <div>Servicios</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Inmuebles">
                                        <div>Inmuebles</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Alquileres">
                                        <div>Alquileres</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Empleos">
                                        <div>Empleos</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Talentos">
                                        <div>Talentos</div>
                                    </a></li>
                            </ul>
                        </li>
                        <li><a href="#">
                                <div>Nube</div><span>&nbsp;</span>
                            </a>
                            <ul>
                                <li><a href="https://coderic.net/Internet">
                                        <div>Internet</div><span>Comienza aquí</span>
                                    </a>
                                    <ul>
                                        <li><a href="https://coderic.net/Internet/dominios">
                                                <div>Dominios</div>
                                            </a>
                                        </li>
                                        <li><a href="https://coderic.net/Internet/alojamientoweb">
                                                <div>Hospedaje Web</div>
                                            </a>
                                        </li>
                                        <li><a href="https://coderic.net/Internet/portales">
                                                <div>Sitios Web</div>
                                            </a>
                                        </li>
                                        <li><a href="https://coderic.net/Internet/seguridad">
                                                <div>Seguridad Web</div>
                                            </a>
                                        </li>
                                        <li><a href="https://coderic.net/Internet/mercadeo">
                                                <div>Mercadeo en línea</div>
                                            </a>
                                        </li>
                                        <li><a href="https://coderic.net/Internet/comercioelecronico">
                                                <div>Comercio electrónico</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="https://coderic.net/Sistemas">
                                        <div>Sistemas</div>
                                    </a>
                                    <ul>
                                        <li><a href="#">
                                                <div>Enlace</div>
                                            </a></li>
                                        <li><a href="#">
                                                <div>Enlace</div>
                                            </a></li>
                                        <li><a href="#">
                                                <div>Enlace</div>
                                            </a></li>
                                        <li><a href="#">
                                                <div>Enlace</div>
                                            </a></li>
                                        <li><a href="#">
                                                <div>Enlace</div>
                                            </a></li>
                                        <li><a href="#">
                                                <div>Enlace</div>
                                            </a></li>
                                    </ul>
                                </li>
                                <li><a href="https://coderic.net/Plataformas">
                                        <div>Plataformas</div>
                                    </a>
                                    <ul>
                                        <li><a href="#">
                                                <div>Enlace</div>
                                            </a></li>
                                        <li><a href="#">
                                                <div>Enlace</div>
                                            </a></li>
                                        <li><a href="#">
                                                <div>Enlace</div>
                                            </a></li>
                                        <li><a href="#">
                                                <div>Enlace</div>
                                            </a></li>
                                        <li><a href="#">
                                                <div>Enlace</div>
                                            </a></li>
                                        <li><a href="#">
                                                <div>Enlace</div>
                                            </a></li>
                                    </ul>
                                </li>
                                <li><a href="https://coderic.net/Infraestructuras">
                                        <div>Infraestructuras</div>
                                    </a>
                                    <ul>
                                        <li><a href="#">
                                                <div>Enlace</div>
                                            </a></li>
                                        <li><a href="#">
                                                <div>Enlace</div>
                                            </a></li>
                                        <li><a href="#">
                                                <div>Enlace</div>
                                            </a></li>
                                        <li><a href="#">
                                                <div>Enlace</div>
                                            </a></li>
                                        <li><a href="#">
                                                <div>Enlace</div>
                                            </a></li>
                                        <li><a href="#">
                                                <div>Enlace</div>
                                            </a></li>
                                    </ul>
                                </li>
                                <li><a href="https://coderic.net/Macrodatos">
                                        <div>Macrodatos</div>
                                    </a>
                                    <ul>
                                        <li><a href="#">
                                                <div>Enlace</div>
                                            </a></li>
                                        <li><a href="#">
                                                <div>Enlace</div>
                                            </a></li>
                                        <li><a href="#">
                                                <div>Enlace</div>
                                            </a></li>
                                    </ul>
                                </li>
                                <li><a href="https://coderic.net/Servidores">
                                        <div>Servidores</div>
                                    </a>
                                    <ul>
                                        <li><a href="https://coderic.net/Servidores/baremetal">
                                                <div>Bare Metal Servers</div>
                                            </a></li>
                                        <li><a href="https://coderic.net/Servidores/vps">
                                                <div>Virual Private Servers</div>
                                            </a></li>
                                        <li><a href="https://coderic.net/Servidores/shared">
                                                <div>Shared Servers</div>
                                            </a></li>
                                        <li><a href="https://coderic.net/Servidores/panels">
                                                <div>Control Panel Licence</div>
                                            </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">
                                <div>Soporte</div><span>&nbsp;</span>
                            </a>
                            <ul>
                                <li><a href="https://coderic.net/Soporte/documentacion">
                                        <div>Documentación</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Soporte/conocimientos">
                                        <div>Conocimientos</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Preguntas">
                                        <div>Preguntas frecuentes</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Soporte/foros">
                                        <div>Foros de soporte</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Soporte/ayuda">
                                        <div>Mesa de ayuda</div>
                                    </a></li>
                                <li><a href="https://coderic.net/Soporte/chat">
                                        <div>Chat en vivo</div>
                                    </a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="container-full clearfix" style="border-bottom: 3px solid #F67D15;"></div>
        {{ content }}
        <div id="twitter-panel">
            <div class="container clearfix">
                <div id="twitter-panel-icon">
                    <i class="fa fa-twitter"></i>
                </div>
                <div id="twitter-panel-content">
                    <div class="fslider" data-animation="fade" data-pause="5000" data-arrows="false">
                        <div class="flexslider">
                            <div class="slider-wrap">
                                <div class="slide"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="twitter-panel-follow">
                    <a href="https://twitter.com/Coderic">Follow Us</a>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="footer" class="footer-dark">
                <div class="container clearfix">
                    <div class="footer-widgets-wrap clearfix">
                        <!--div class="col_one_fourth">
                            <div class="widget portfolio-widget clearfix">
                                <h4><a href="https://coderic.net/Nosotros">Acerca de <span>Coderic</span></a></h4>
                                <p><a href="https://coderic.net/Nosotros">Corporación Orientada al Desarrollo Estratégico de Recursos de Información Comercial</a></p>
                                <div style="background: url('/assets/coderic/images/world_map.png') no-repeat center center; height: 100px;">
                                    <ul style="font-size: 13px;" class="fa-ul">
                                        <li><i class="fa fa-li fa-map-marker"></i>13/2 Elizabeth Street <br />Melbourne VIC 3000<br /> Australia</li>
                                        <li><a href="tel:+5743295486"><i class="fa fa-li fa-phone"></i>+57 (4) 329-5486</a></li>
                                        <li><i class="fa fa-li fa-envelope-o"></i><a href="mailto:admin@coderic.net">admin@coderic.net</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div-->

                        <div class="col_one_fourth">
                            <div id="linkcat-1" class="widget widget_links clearfix">
                                <h4 class="widget-title">Coderic <span>Ecosystem</span></h4>
                                <ul class='blogroll'>
                                    <li><a href="https://coderic.net/Desarrollo">Desarrollo</a></li>
                                    <li><a href="https://coderic.net/Financiamiento">Financiamiento</a></li>
                                    <li><a href="https://coderic.net/Colaborativo">Colaborativo</a></li>
                                    <li><a href="https://coderic.net/Independientes">Independientes</a></li>
                                    <li><a href="https://coderic.net/Aprendizaje">Aprendizaje</a></li>
                                    <li><a href="https://coderic.net/Comunidad">Comunidad</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col_one_fourth">
                            <div id="linkcat-2" class="widget widget_links clearfix">
                                <h4 class="widget-title">Competencia <span>Coderic</span></h4>
                                <ul class='blogroll'>
                                    <li><a href="https://coderic.net/Productos">Productos</a></li>
                                    <li><a href="https://coderic.net/Servicios">Servicios</a></li>
                                    <li><a href="https://coderic.net/Inmuebles">Inmuebles</a></li>
                                    <li><a href="https://coderic.net/Alquileres">Alquileres</a></li>
                                    <li><a href="https://coderic.net/Empleos">Empleos</a></li>
                                    <li><a href="https://coderic.net/Talentos">Talentos</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col_one_fourth">
                            <div id="linkcat-3" class="widget widget_links clearfix">
                                <h4 class="widget-title">Coderic <span>Cloud</span></h4>
                                <ul class='blogroll'>
                                    <li><a href="https://coderic.net/Internet">Internet</a></li>
                                    <li><a href="https://coderic.net/Servidores">Servidores</a></li>
                                    <li><a href="https://coderic.net/Macrodatos">Macrodatos</a></li>
                                    <li><a href="https://coderic.net/Sistemas">Sistemas</a></li>
                                    <li><a href="https://coderic.net/Plataformas">Plataformas</a></li>
                                    <li><a href="https://coderic.net/Infraestructuras">Infraestructuras</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col_one_fourth col_last">
                            <div id="linkcat-4" class="widget widget_links clearfix">
                                <h4 class="widget-title"><span>Soporte</span> Técnico</h4>
                                <ul class='blogroll'>
                                    <li><a href="https://coderic.net/Soporte/documentacion">Documentación</a></li>
                                    <li><a href="https://coderic.net/Soporte/conocimientos">Conocimientos</a></li>
                                    <li><a href="https://coderic.net/preguntas">Preguntas frecuentes</a></li>
                                    <li><a href="https://coderic.net/Soporte/foros">Foros de soporte</a></li>
                                    <li><a href="https://coderic.net/Soporte/ayuda">Mesa de ayuda</a></li>
                                    <li><a href="https://coderic.net/Soporte/chat">Chat en vivo</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>

            <div id="quick-links" class="quick-links-dark">
                <div class="container clearfix">
                    <div class="col_three_fifth">
                        <nav>
                            <a href="https://coderic.net/marcolegal">Marco legal</a>
                            <span class="link-divider">·</span>
                            <a href="https://coderic.net/terminos">Términos de uso</a>
                            <span class="link-divider">·</span>
                            <a href="https://coderic.net/privacidad">Política de privacidad</a>
                            <span class="link-divider">·</span>
                            <a href="https://coderic.net/preguntas">Preguntas frecuentes</a>
                        </nav>
                    </div>
                    <div class="col_two_fifth col_last tright">
                        <nav>
                            Otros idiomas
                            <span class="link-divider">·</span>
                            <a href="/en/" hreflang="en" rel="alternate" title="Inglés">English</a>
                            <!--
                                                        <span class="link-divider">·</span>
                            <a href="/fr/" hreflang="fr" rel="alternate" title="Francés">France</a>
                                                                                    <span class="link-divider">·</span>
                            <a href="/it/" hreflang="it" rel="alternate" title="Italiano">Italiano</a>
                                                                                    <span class="link-divider">·</span>
                            <a href="/pt/" hreflang="pt" rel="alternate" title="Portugués">Português</a>
                                                            -->
                        </nav>
                    </div>
                </div>
            </div>
            <div id="copyrights" class="copyrights-dark">
                <div class="container clearfix center">
                    <p>
                        Corporación Orientada al Desarrollo Estratégico de Recursos de Información Comercial<br>
                        <span translate="no"><a href="https://coderic.net/nosotros">Coderic</a>
                            <sup>&copy;</sup></span> · Todos los derechos reservados · Desde el 30 de septiembre de
                        2004<br>
                        <a href="tel:+5743295486">+57 (4) 329-54 86</a> · <a
                            href="mailto:admin@coderic.net">admin@coderic.net</a>
                    </p>
                </div>
            </div>
        </div>
        <div id="gotoTop" class="fa fa-angle-up"></div>

        <script src="/assets/coworker/js/custom.js"></script>
        <!--script src="/assets/coworker/js/app.js" defer></script-->
    </div>
</body>

</html>