<!DOCTYPE html>
<html lang="{{ site.active_lang }}" class="dark">
{% include head.html %}
<body class="bg-surface text-base font-sans antialiased overflow-x-hidden selection:bg-coderic-600 selection:text-base relative">

    <div class="relative z-10 flex flex-col min-h-screen">
        {% include header.html %}
        {% include subnav.html %}

        <main class="flex-grow pt-52" id="main-content">
            {{ content }}
        </main>

        {% include footer.html %}
    </div>

</body>
</html>
