---
layout: default
---
<div id="page-title">
    <div class="container clearfix">
        <h1>Acerca de nosotros
            <span> / Todo lo que necesitas saber acerca de nosotros</span>
        </h1>
        <!--div id="top-search">
                <form id="top-search-form" action="search-results.php" method="get">
                <input type="text" id="top-search-input" name="q" value="" placeholder="Escriba y presione enter">
                </form>
                </div-->
    </div>
</div>
<div class="content-wrap">
    <div class="container clearfix">
        {{ content }}
    </div>
</div>